.glass {
  background: #ffffff8c;
  border-radius: 16px;
  box-shadow: 0px 4px 3px #4747470b;
  backdrop-filter: blur(7.1px);
  border: 1px solid #ffffff8c;
  @apply border-2 border-gray-50 shrink-0 h-3/4 w-[30%] rounded-3xl;
}

.profile_img {
  @apply hover:border-gray-200;
  @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
}

.textbox {
  @apply border-0 px-5 py-4 rounded-xl  w-3/4 shadow-sm text-lg;
  @apply focus:outline-none;
}

.btn {
  @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm cursor-pointer;
}

.btn:hover {
  background-color: #ff6f6f;
}
